# Visualization     
## 1. Retrieve Data from MongoDB     
Retrieve all documents from MongoDB and convert it to a pandas dataframe.

In [3]:
import pymongo
client = pymongo.MongoClient()

In [6]:
import pandas as pd

db = client.get_database("crime")
collection = db.get_collection("crime")
data = list(collection.find())
df = pd.DataFrame.from_records(data)    
df.drop('_id', axis=1, inplace=True)
print(df.head())
print(df.info())

      rpt_id                arst_date  time area    area_desc    rd age  \
0    5811793  2019-12-01T00:00:00.000  0311   15  N Hollywood  1565  26
1    5811921  2019-12-01T00:00:00.000  0300   13       Newton  1307  21
2    5812227  2019-12-01T00:00:00.000  1540   13       Newton  1362  28
3  190920652  2019-12-01T00:00:00.000  0225   09     Van Nuys  0914  45
4    5812327  2019-12-01T00:00:00.000  2015   06    Hollywood  0646  39

  sex_cd descent_cd chrg_grp_cd          grp_description arst_typ_cd  \
0      M          H          22  Driving Under Influence           M
1      M          B          04       Aggravated Assault           F
2      M          B          05                 Burglary           F
3      M          H          13      Prostitution/Allied           M
4      M          B          03                  Robbery           F

        charge                           chrg_desc  \
0   23152(A)VC         DRUNK DRIVING ALCOHOL/DRUGS
1  245(D)(1)PC  ASSAULT W/FIREARM ON PO OR FIREMAN
2        459PC                            BURGLARY
3  647(B)(2)PC    ENGAGE/SOLICIT SEX FOR MONEY/ETC
4        211PC                             ROBBERY

                                 location                            crsst  \
0         VINELAND                     AV  HOLLYWOOD                    FY
1  700    CROCKER                      ST                              NaN
2  400 E  49TH                         ST                              NaN
3         SEPULVEDA                    BL  HART                         ST
4                                   COSMO  HOLLYWOOD                    BL

                                          location_1
0  {'latitude': '34.1468', 'longitude': '-118.370...
1  {'latitude': '34.0401', 'longitude': '-118.245...
2  {'latitude': '33.9988', 'longitude': '-118.269...
3  {'latitude': '34.1976', 'longitude': '-118.466...
4  {'latitude': '34.1016', 'longitude': '-118.328...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 17 columns):
rpt_id             990 non-null object
arst_date          990 non-null object
time               990 non-null object
area               990 non-null object
area_desc          990 non-null object
rd                 990 non-null object
age                990 non-null object
sex_cd             990 non-null object
descent_cd         990 non-null object
chrg_grp_cd        930 non-null object
grp_description    930 non-null object
arst_typ_cd        990 non-null object
charge             990 non-null object
chrg_desc          937 non-null object
location           990 non-null object
crsst              485 non-null object
location_1         990 non-null object
dtypes: object(17)
memory usage: 131.6+ KB
None

## 2. Visualization with Plot.ly: Line Plots (stacked / unstacked)       
The function below creates a plotly.graph_objects with a few Scatter plots added. A figure is initialized with go.Figure(). This function works in a Notebook as well as dash app! Most of them are just line plots. If a stackgroup is provided, plotly automatically stack up a few series.